<!-- Section: intro -->
<section id="intro" class="intro" style="margin-top: -30px;">
  <div class="intro-content">
    <div class="container">
      <div class="row">
        <% if current_user %>
          <div class="col-lg-6">
            <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
              <h4 class="h-ultra">User Dashboard</h4>
            </div>
            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.1s">
              <h5 class="h-light">
                Welcome,&ensp;
                <span style="color: #2778bd;">
                  <%= current_user.first_name %> <%= current_user.last_name %>
                </span>
              </h5>
            </div>
            <div class="well well-trans">
              <div class="wow fadeInRight" data-wow-delay="0.1s">
                <ul class="lead-list">
                  <li><span class="fa fa-check fa-2x icon-success"></span> <span class="list"><strong>Book Appointments Easily</strong><br />Click The Button To Proceed! <i class="fas fa-hand-point-right"></i></span></li>
                </ul>
                <ul class="lead-list">
                  <li><span class="fa fa-thumbs-up fa-2x icon-success"></span> <span class="list"><strong>Have Already Booked Appointments??</strong><br />
                  Click The Button Below <i class="fas fa-hand-point-down"></i></span></li>
                  &emsp;&emsp;&emsp;<%= link_to " View Your Appointments", '/appointments/#myappointments', :class => "custom_button fas fa-list" %>
                </ul>
              </div>
            </div>
            <h6 class="h-light">
              <%= link_to " Sign Out", destroy_user_session_path, :class => "custom_button fa fa-sign-out-alt", method: :delete %>
            </h6>
          </div>
          <div class="col-lg-6">
            <div class="form-wrapper">
              <div class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
                <div class="panel panel-skin">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <span class="fas fa-edit"></span> 
                      Book an appoinment Now! <small>(It's free!)</small>
                    </h3>
                  </div>
                  <div class="panel-body">
                    <% if flash[:success] %>
                      <div class='alert alert-success'><%= flash[:success] %></div>
                    <% end %>
                    <form role="form" class="lead" style="padding-top: 40px;">
                      <a href="appointments" class="btn btn-skin btn-block btn-lg">
                        Book Now!
                        <i class="fa fa-arrow-right"></i>
                      </a>
                      <p class="lead-footer"><span style="color: #ef3b23;">* </span> 
                      We'll contact you by phone & email later</p>
                    </form>
                  </div>
                </div>        
              </div>
            </div>
          </div>
        <% else %>
          <div class="col-lg-6">
            <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
              <h2 class="h-ultra">Scheduler</h2>
            </div>
            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.1s">
              <h4 class="h-light">Tracking <span style="color: #2778bd;"> medical appointments</span> for you.</h4>
            </div>
            <div class="well well-trans">
              <div class="wow fadeInRight" data-wow-delay="0.1s">
                <ul class="lead-list">
                  <li>
                    <span class="fa fa-check fa-2x icon-success"></span> <span class="list"><strong>If You Want To Book Appointments</strong><br />Login To Continue <i class="fas fa-hand-point-right"></i></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-wrapper">
              <div class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
                <div class="panel panel-skin">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <span class="fas fa-sign-in-alt"></span>
                      Login To Make Appointments 
                    </h3>
                  </div>
                  <div class="panel-body">
                    <form role="form" class="lead">
                      <span style="margin-bottom:40px;margin-top: 40px;">
                        <%= link_to "LOGIN", new_user_session_path, :class => "btn btn-skin btn-block btn-lg" %>
                      </span>
                      <h5 class="lead-footer">
                        <span style="color:#ef3b23;">* </span>Don't Have An Account??&emsp; 
                        <%= link_to "Sign Up Now!!", new_user_registration_path, :class => "custom_button" %>
                      </h5>
                    </form>
                  </div>
                </div>        
              </div>
            </div>
          </div>
        <% end %>
      </div>    
    </div>
  </div>    
</section>
<!-- /Section: intro -->

<!-- Section: boxes -->
<section id="boxes" class="home-section paddingtop-80">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-md-3">
        <div class="wow fadeInUp" data-wow-delay="0.2s">
          <div class="box text-center">
            <i class="fa fa-check fa-3x circled bg-skin"></i>
            <h4 class="h-bold">Appoinment</h4>
            <p>It's easy to make and track appointments with us.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-md-3">
        <div class="wow fadeInUp" data-wow-delay="0.2s">
          <div class="box text-center">
            
            <i class="fa fa-ambulance fa-3x circled bg-skin"></i>
            <h4 class="h-bold">Emergencies</h4>
            <p>Call us using our emergency numbers or click the button below. <i class="fa fa-hand-o-down"></i></p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="wow fadeInUp" data-wow-delay="0.2s">
          <div class="box text-center">
            <i class="fa fa-user-md fa-3x circled bg-skin"></i>
            <h4 class="h-bold">Our Doctors</h4>
            <p>Choose your most favourite doctor(s) to handle your case.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="wow fadeInUp" data-wow-delay="0.2s">
          <div class="box text-center">
            
            <i class="fas fa-hospital-alt fa-3x circled bg-skin"></i>
            <h4 class="h-bold">Diagnostic report</h4>
            <p>Get your diagnostic report within 12 hours of enquiry.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Section: boxes -->

<section id="callaction" class="home-section paddingtop-40" style="padding-bottom: 50px;">  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="callaction bg-gray">
          <div class="row">
            <div class="col-md-8">
              <div class="wow fadeInUp" data-wow-delay="0.1s">
                <div class="cta-text">
                  <h3>In An Emergency?</h3>
                  <p>Click The Call Us Now Button <i class="fa fa-hand-o-right"></i> Right Away!</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="wow lightSpeedIn" data-wow-delay="0.1s">
                <div class="cta-btn">
                  <a href="#" class="btn btn-skin btn-lg"><i class="fas fa-phone"></i> Call Us Now</a>  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>  
