<%= form_with(model: appointment) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_first_name %>
    <%= form.text_field :user_first_name %>
  </div>

  <div class="field">
    <%= form.label :user_last_name %>
    <%= form.text_field :user_last_name %>
  </div>

  <div class="field">
    <%= form.label :user_email %>
    <%= form.text_field :user_email %>
  </div>

  <div class="field">
    <%= form.label :user_phone_no %>
    <%= form.text_field :user_phone_no %>
  </div>

  <div class="field">
    <%= form.label :doc_email %>
    <%= form.text_field :doc_email %>
  </div>

  <div class="field">
    <%= form.label :booking_time %>
    <%= form.text_field :booking_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
