<!-- Section: intro -->
<section id="intro" class="intro" style="margin-top: -30px;">
  <div class="intro-content">
    <div class="container" style="background-color: rgb(152, 231, 220, 0.4);padding: 20px;">
      <div class="row">

        <div class="col-md-5 col-lg-4 mb-5 mb-md-1">

          <h5>Book Appointment!</h5>
          <h5 style="font-size: 15px;">
            <a href="/" class="custom_button"><i class="fa fa-arrow-left"></i> Go Back</a>
          </h5>

          <% if flash[:error] %>
            <div class='alert alert-danger'><%= flash[:error] %></div>
          <% end %>

        </div>

        <div class="col-md-6 col-lg-5">
          <div class="form-wrapper">
            <div class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
              <div class="panel panel-skin">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <span class="fa fa-user"></span> 
                    Book Now!
                  </h3>
                </div>
                <div class="panel-body">

                  <%= form_for Appointment.new, url: {action: "create"} do |f| %>
                    <div class='form-group'>
                      <%= f.text_field :doctor_id, class: 'form-control input-md', placeholder: 'Choose Doctor' %>
                    </div>

                    <div class='form-group'>
                      <%= f.hidden_field :booking_time, :value => Time.now %>
                      <%= f.hidden_field :user_id, :value => current_user.id %>
                    </div>
              
                    <%= f.submit 'Book!', class: 'btn btn-primary' %>
                  <% end %>

                </div>
              </div>        
            </div>
          </div>
        </div>
      </div>    
    </div>
  </div>    
</section>
<!-- /Section: intro -->

<!-- Section: boxes -->
<section id="myappointments" class="home-section paddingtop-80">
  <div class="container">
    <h3 class="text-5 font-weight-400 d-flex align-items-center px-4 mb-4">My Appointments</h3>
    <% if flash[:error] %>
      <div class='alert alert-danger'><%= flash[:error] %></div>
    <% end %>
    <% if flash[:success] %>
      <div class='alert alert-success'><%= flash[:success] %></div>
    <% end %>
    <ul class="responsive-table">
      <li class="table-header" style="text-align: center;">
        <div class="col col-2" style="color: #fff;font-weight: bold;font-size: 20px;border-right: 2px solid #2c3e50;">Doctor</div>
        <div class="col col-3" style="color: #fff;font-weight: bold;font-size: 20px;border-right: 2px solid #2c3e50;">Booking Time</div>
        <div class="col col-4" style="color: #fff;font-weight: bold;font-size: 20px;">Delete</div>
      </li>
      <% @appointments.each do |appointment| %>
        <li class="table-row" style="text-align: center;">
          <div class="col col-2" data-label="Doctor" style="color:#fff;font-weight:bold;font-size:16px;border-right: 2px solid #2c3e50;">
            <%= appointment.doctor_id %>
          </div>
          <div class="col col-3" data-label="Booking Time" style="color:#fff;font-weight:bold;font-size:16px;border-right: 2px solid #2c3e50;">
            <%= appointment.booking_time %>
          </div>
          <div class="col col-4" data-label="Delete">
            <%= link_to '', appointment_path(appointment), :class => "fas fa-trash", method: :delete, data: {confirm: 'Are you sure?'} %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</section>
<!-- /Section: boxes -->

<section id="callaction" class="home-section paddingtop-40" style="padding-bottom: 50px;">  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="callaction bg-gray">
          <div class="row">
            <div class="col-md-8">
              <div class="wow fadeInUp" data-wow-delay="0.1s">
                <div class="cta-text">
                  <h3>In An Emergency?</h3>
                  <p>Click The Call Us Now Button <i class="fa fa-hand-o-right"></i> Right Away!</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="wow lightSpeedIn" data-wow-delay="0.1s">
                <div class="cta-btn">
                  <a href="#" class="btn btn-skin btn-lg"><i class="fas fa-phone"></i> Call Us Now</a>  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>  
