<p id="notice"><%= notice %></p>

<p>
  <strong>User first name:</strong>
  <%= @appointment.user_first_name %>
</p>

<p>
  <strong>User last name:</strong>
  <%= @appointment.user_last_name %>
</p>

<p>
  <strong>User email:</strong>
  <%= @appointment.user_email %>
</p>

<p>
  <strong>User phone no:</strong>
  <%= @appointment.user_phone_no %>
</p>

<p>
  <strong>Doc email:</strong>
  <%= @appointment.doc_email %>
</p>

<p>
  <strong>Booking time:</strong>
  <%= @appointment.booking_time %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
